<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :release %>
    <%= form.date_select( :release , start_year: 1991 , end_year: 2041) %>
  </div>
  
    <div class="field">
    <%= form.label :lyricist %>
    <%= form.text_field :lyricist %>
  </div>

  <div class="field">
    <%= form.label :composer %>
    <%= form.text_field :composer %>
  </div>
  
<%
=begin
%>
  <div class="field">
    <%= form.label :recorded_albums %>
    <%= form.collection_check_boxes(:album_ids, Album.all, :id, :title)  %>
  </div>
<%
=end
%>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
