<%= render "home/music-menu" %>

<div class="main index">
  <% if @is_album == true %>
    <h1>L'Arc~en~Ciel Albums</h1>
  <% else %>
    <h1>L'Arc~en~Ciel Singles</h1>
  <% end %>
  
  <div class="container">
    <div class="row">
      <% @albums.each do |album| %>
        <div class="col-3 album-box">
          <%= link_to "/music/albums/#{album.id}" , class: "album-detail" do %>
            <div><%= album.title %></div>
            <div><%= album.release %></div>
            <% if user_signed_in? %>
              <div><%= link_to 'Edit', edit_album_path(album) %></div>
              <div><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        </div>
        <% end %>
    </div>
    
    <br>
    <%= paginate @albums %> 
  </div>

</div><!-- mainクラス -->

  <% if user_signed_in? %>
    <%= link_to 'New Album', new_album_path %>
  <% end %>
    


